@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.signupBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #faebd7;
    max-width: 350px;
    height: auto;
    padding: 30px 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: #ff6702;
}
.signupBox h2{
    color: #ff6702;
}
.signupBox input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    border-radius: 5px;
}
.signupBox input[type=text],input[type=password]{
    border: 2px solid #ff6702;
    outline: none;
    padding-left: 10px;
    background-color: #faebd7;
}
.signupBox input[type=submit]{
    border: 1px solid #ff6702;
    outline: none;
    background-color: #ff6702;
    color: #fff;
}
.signupBox input[type=submit]:active{
    background-color: #ca5100;
}
.overlay{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #505050c7;
    z-index: 4;
    display: none;
    justify-content: center;
    align-items: center;
}

.messageBox{
    position: absolute;
    max-width: 250px;
    height:  auto;
    border: 1px solid #ff6702;
    padding: 10px 10px;
    text-align: center;
    border-radius:  10px;
    background-color: #f7f7f7;
    z-index: 5;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.messageBox img{
    width: 100%;
    display: none;
}
.messageBox h2{
    margin: 5px 0;
    color: #ff6702;
}
